#include <resource.h>
#define IDM_MAIN 0x2000
#define IDM_NEWGAME 0x2101
#define IDM_EXIT 0x2102
IDM_MAIN MENU DISCARDABLE
BEGIN
    menuitem "пбсно╥(&N)", IDM_NEWGAME
    menuitem "мкЁЖ(&X)", IDM_EXIT
END